/*#region -- RESET CSS */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }  
  /* #endregion */
  
/* #region -- FONT */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
/* #endregion */

/* #region -- ROOT */
:root{
    --default-color: rgb(255, 255, 255);
    --clicked-color: rgb(207, 207, 207);
    --header-color: rgb(62, 62, 63);

    --title-background-color: rgba(0,0,0,0.1);
    --box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
}
/* #endregion */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button{
    border: none;
    border-radius: 5px;
    padding: 0.6em 1.5em;
    font-weight: 600;
    background-color: var(--default-color);
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: var(--clicked-color);
}

input{
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--default-color);
    background-color: var(--default-color);
    padding: 0.3em 0.5em;
}

input:focus{
    border: 1px solid var(--header-color);
}

body .hidden{
    display: none;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.2em;
    background-color: var(--header-color);
}

body>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.triedColor{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: #000;
    background-color: var(--default-color);
    box-shadow: var(--box-shadow);
}

.title{
    border-radius: 5px;
    padding: 1em 2em;
    background-color: var(--title-background-color);
}

label{
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.titleColor{
    width: 8em;
    text-align: end;
}
